@model BCryptHashGenerator.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<h3>Fillin the plain text and you'll get a BCrypt Hash Back:</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Hash</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.PlainText)
                @Html.TextBoxFor(m => m.PlainText)
                @Html.ValidationMessageFor(m => m.PlainText)
            </li>
            <li>
                @Html.LabelFor(m => m.BCryptHash)
                @Html.TextBoxFor(m => m.BCryptHash)
            </li>
        </ol>
        <input type="submit" value="Generate Hash" />
    </fieldset>
}
